div#bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

footer {
  color: white;
  letter-spacing: 0.2rem;
}

div.footer-section {
  width: 100vw;
  display: flex;
  justify-content: center;
}

a.para-link {
  color: white;
}

div.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
}
